body {
    background-color: black;
    color: white;
}

.flamengo-container {
    padding: 5rem 15rem;
    display: flex;
}

.flamengo-img {
    width: 30rem;
    border-radius: 20px;
    margin-right: 5rem;
    margin-bottom: 2rem;
}

.team-news {
    width: 30rem;
}

.team-news h1 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 1rem;
}

.team-news p {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

.team-name {
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 1rem;
}

.team-president, .team-manager {
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 1rem;
}

.rating {
    display: flex;
}

.rating p {
    font-size: 1.5rem;
}

.divider {
    margin: 0 2rem 1rem 10rem;
}

.team-buttons button, .contribute-button {
    background-color: #484848;
    padding: 0.5rem;
    font-size: 1.5rem;
    width: 15rem;
    border: none;
    color: white;
    margin: 1rem 2rem 1rem 0;
    border-radius: 20px;
}

.team-buttons button:hover, .contribute-button:hover {
    background-color: #46C45A;
    cursor: pointer;
}

.contribution-title {
    font-size: 20px;
    font-weight: 800;
    margin: 1rem 0;
}

.amount-container {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}

.amount-container p {
    font-size: 2rem;
}

.team-report {
    text-align: center;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.86) 0.41%, rgba(0, 0, 0, 0.49) 40.04%, #000000 87.22%), url(../assets/background-img/bg-4.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.report-title {
    font-size: 30px;
    font-weight: 800;
    line-height: 30px;
    margin-bottom: 2rem;
    padding-top: 2rem;
}

.report-amount {
    font-size: 50px;
    font-weight: 800;
    line-height: 30px;
    margin-bottom: 2rem;
}

.report-progress {
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 1rem;
}

.report-source-title {
    font-size: 30px;
    font-weight: 800;
    line-height: 30px;
    margin-bottom: 3rem;
}

.graph-container {
    display: flex;
    justify-content: space-between;
    width: 80rem;
    margin: 2rem auto;
}

.graph-1 {
    padding-top: 65px;
}

.graph-3 {
    padding-top: 120px;
}

.help-us, .remaining-amount {
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 1rem;
}

.funding-similar-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 5rem 15rem;
    margin: 0 auto;
}

.funding-similar-box {
    background-color: #484848;
    width: 20rem;
    height: 22rem;
    border-radius: 20px;
}

.funding-similar-img-1 {
    background: url(../assets/funding/1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 18rem;
    height: 16rem;
    margin: 1rem;
    border-radius: 20px;
}

.funding-similar-img-2 {
    background: url(../assets/funding/4.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 18rem;
    height: 16rem;
    margin: 1rem;
    border-radius: 20px;
}

.funding-similar-img-3 {
    background: url(../assets/funding/6.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 18rem;
    height: 16rem;
    margin: 1rem;
    border-radius: 20px;
}

.funding-similar-img-4 {
    background: url(../assets/funding/8.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 18rem;
    height: 16rem;
    margin: 1rem;
    border-radius: 20px;
}

.similar-funding-desc {
    margin: 1rem;
}

.similar-title {
    text-align: center;
    margin-top: 5rem;
    font-size: 50px;
}

.team-icon {
    width: 3rem;
    margin: 1rem 0 1rem 14rem;
}